body {
  background-color: mediumaquamarine
}

header {
    color: mediumseagreen
}

h1 {
  color: 
}

nav > ul {
  color: skyblue
}

section {
    color:slateblue
}

footer {
    color:steelblue
}